#container{
    width:100%;
    
}


#contentpress{
    width:100%;
    border:none;
}

#navipress{
    display:none;
}

#film{
    display:none;
}

#blogginl{
    border:1px solid black;
}


a:after {
content:" (" attr(href) ") ";
}



    
body{
    color:black;
    background-color:white;
    font-family:Helvetica, arial, sans-serif;
    font-size:14px;
}
p {
    font-family:Helvetica, arial, sans-serif;
    color:black;
    
}

h1, h2, h3{
    font-family:helvetica, sans-serif;
    font-style:italic;
    color:black;
}
div{
    font-family:Helvetica, arial, sans-serif;
    color:black;
}


